<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A1 Page</title>
    <!-- Bootstrap -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/common.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <!-- Header begin -->
    <div class="page-header bg-info">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-info">&nbsp;Welcome to A1 Page!&nbsp;<small>大型客车</small>
                </h3>
            </div>

            <!-- Is authenticated start -->
            <div th:fragment="logout" class="col-md-4 logout" sec:authorize="isAuthenticated()">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-info mt-10 mb-5">Logged in user: <span sec:authentication="name"></span></p>
                        <p class="text-info mb-5">Roles: <span sec:authentication="principal.authorities"></span></p>
                    </div>
                    <div class="col-md-4">
                        <form action="#" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-primary btn-sm mt-20">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Is authenticated end -->

            <!-- Is not authenticated start -->
            <div class="col-md-4" sec:authorize="not isAuthenticated()">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-info mt-25">You have not logged in.</p>
                    </div>
                    <div class="col-md-4">
                        <a href="/login" th:href="@{/login}" class="btn btn-primary btn-sm active mt-20" role="button">Log In</a>
                    </div>
                </div>
            </div>
            <!-- Is not authenticated end -->

        </div>
    </div>
    <!-- Header end -->

    <!-- content begin -->
    <div class="jumbotron" style="background-color: #dff0d8;">
        <h3><span>You have access to 'A1' page.</span></h3>
        <br/>
        <p><a href="/index">Back to home page</a></p>
    </div>
    <!-- content end -->
</div>

<!-- jQuery -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- Bootstrap(jQuery required) -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>